<footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <div>
      <p>Some things are under © 2023, I'm sure you can tell which. Parts of the site were reused from my own private repositories. Thus the below text may look familiar :) </p>
      <p>By the way, here are some links you can use to switch themes. <a data-set-theme="dark" >dark</a>, <a data-set-theme="light" >light</a>, 
            <a data-set-theme="winter" >winter</a>, <a data-set-theme="dracula" >dracula</a>, <a data-set-theme="synthwave" >synthwave</a>, <a data-set-theme="emerald" >emerald</a>, <a data-set-theme="aqua" >aqua</a>, <a data-set-theme="retro" >retro</a>, <a data-set-theme="lemonade" >lemonade</a>, <a data-set-theme="cyberpunk" >cyberpunk</a>, <a data-set-theme="valentine" >valentine</a>,<a data-set-theme="garden" >garden</a>,<a data-set-theme="coffee" >coffee</a>,<a data-set-theme="night" >night</a>,<a data-set-theme="cmyk" >cmyk</a>,<a data-set-theme="autumn" >
autumn</a>,<a data-set-theme="luxury" >luxury</a>,<a data-set-theme="lofi" >lofi</a>. Pictures may look slightly different depending on theme due to some images being transparent. 
        </p>
    </div>
</footer>