{% set navPages = collections.all | eleventyNavigation %}
<div class="navbar bg-base-300">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">smashmaster's hybrid site</a>
  </div>
  <div class="flex-none">
      <ul tabindex="0" class="menu menu-horizontal px-1">
        {% for entry in navPages %}
          <li class="inline">
            <a
            href="{{ entry.url }}"
            class="{{'' if entry.url in page.url else ''}}"> {{ entry.title }} </a>
          </li>
        {% endfor %}
      </ul>
  </div>
  
</div>