<!doctype html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <main class="p-12">
     {% if title %}
      <h1 class="text-3xl mb-8">{{title}}</h1>
      {% endif %}
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>
