---
layout: layouts/base.njk
---

{% if standalone %}
<article class="prose md:prose-sm xl:prose-lg">{{ content | safe }}</article>
{% else %}
<div class="2xl:flex 2xl:flex-row">
<div class="toc toc-list xl:basis-1/6 sm:max-w-full m-8 mr-16">
    <div class="2xl:fixed">
        <div class="fixed-wrapper p-8 rounded-2xl bg-base-200 2xl:max-w-xs">
            {% if title %}
                <h1 class="title text-2xl">{{title}}</h1>
            {% endif %}
            {% if date %} 
                <time>{{ date | readableDate }}</time>
            {% endif %}
            {{content | toc | safe}}
        </div>
    </div>
</div>
<article class="prose xl:prose-lg xl:basis-5/6 sm:max-w-full">
<br />
<br />
{{ content | safe }}</article>
</div>
{% endif %}