---
layout: layouts/base.njk
---
{% if title %}
    <h1 class="text-5xl mb-8 font-bold leading-tight">{{title}}</h1>
{% endif %}
{% if standalone %}
    <article>{{ content | safe }}</article>
{% else %}

{% endif %}